

<ion-content class="ion-padding">
  <div class="form-container">
    <h1>Crear Nuevo Evento</h1>

    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input type="text" placeholder="Ingresa el título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input type="text" placeholder="Ingresa la ubicación"></ion-input>
    </ion-item>

    <div class="toggle-group">
      <ion-item>
        <ion-label>Todo el día</ion-label>
        <ion-toggle [checked]="true"></ion-toggle>
      </ion-item>
    </div>

    <div class="datetime-group">
      <ion-item>
        <ion-label>Empieza</ion-label>
        <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Termina</ion-label>
        <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Duración (horas)</ion-label>
        <ion-input type="number" placeholder="Ejemplo: 2"></ion-input>
      </ion-item>
    </div>

    <div class="button-group">
      <ion-button expand="block" color="light">Cancelar</ion-button>
      <ion-button expand="block" color="primary">Agregar</ion-button>
    </div>
  </div>
</ion-content>
