ion-header,
ion-footer {
  background-color: #3880ff;
  color: white;
}

ion-title {
  font-size: 1.5em;
  text-align: center;
}

ion-card {
  margin: 20px;
}

ion-button {
  margin: 20px;
}

.logo {
  display: grid;
  place-items: center;

}

svg {
  height: 50px;
  width: auto;
}

ion-card-title {
  text-align: center;
}


/* From Uiverse.io by arghyaBiswasDev */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked+.slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}


.boton_piola {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Ajusta según sea necesario */
  text-align: center;

}

.hora {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 200px;
  height: 50px;
  align-content: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #76e635;
}

.hora h1 {
  margin-right: 10px;
  /* Ajusta el espacio entre el texto "18:00" y el botón */
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(22, 24, 27, 0.8), rgba(29, 30, 34, 0.8)), url(../../../../../cascada.jpeg);
  background-size: cover;
  background-position: center;
  


}

.switch {
  margin-left: 10px;
  /* Ajusta el espacio entre el botón y el texto "18:00" */
}

/* Estilos para bordes redondeados */
.rounded-box {
  border: 2px solid #000;
  /* Color y grosor del borde */
  border-radius: 10px;
  /* Radio del borde redondeado */
  padding: 10px;
  /* Espaciado interno */
}

.rounded-box {
  border: 2px solid #000;
  /* Color y grosor del borde */
  border-radius: 10px;
  /* Radio del borde redondeado */
  padding: 10px;
  /* Espaciado interno */
}

.container h1 {
  margin-right: 10px;
  /* Ajusta el espacio entre el texto "18:00" y el botón */
}